.mobile-menu{
    display: none;
}
@media(max-width:760px){
    .mobile-menu{
        display: block;
        background-color: #171717;
        color: #FBFCFD;
        overflow: hidden;
    }
}

.active2{
    background:#D92D20  ;
    border-radius: 50px;
margin: 8px 0px;
    transition: 0.3s ease-in-out;

}
.blocks:hover{
    background: rgba(217, 45, 32, 0.9) ;
    border-radius: 50px;
margin: 8px 0px;
    transition: 0.3s ease-in-out;
}