@font-face {
    font-family: 'Escuela';
    src: url('../../assets/OTF/Escuela-Light.otf') format('truetype'),
         url('../../assets/OTF/Escuela-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.hero{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 80px 30px 0px 30px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-family: 'Escuela', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    flex-direction: row;
}
.hand{
    width: 10.26vw;
    margin: auto 0;
}
.hero h1{
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: #171717;
    line-height: 80px;
    padding: 10px 30px;
    width: 100%;
    min-width: 350px;
    max-width: 1000px;
}
.orange-text{
    color: #FD853A ;
}
.quote{
    position: absolute;
    top: 45%;
    width: 30%;
    align-self: flex-start;
    padding: 10px 20px;
    min-width: 350px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top img{
    align-self: flex-start;
}
.quote p{
    font-family: Escuela;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    padding: 0px 10px;
}
.hero h2{
    font-family: Escuela;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.015em;
    text-align: center;
    margin: 10px 0;
}
.hero h2 .small-text{
    font-size: 20px;
    line-height: 10px !important;
    width: 100%;
}
.bottom h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.years{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.semi-circle{
    width: 650px;
    height: 330px;
    position: absolute;
    bottom: -1%;
    background-color: #D92D20;
    clip-path: circle(48.1% at 51% 89%);
    min-width: 300px;
    min-height: 340px;
}
/* .portrait{
    ;
} */
.semi-circle, .portrait{
    position: absolute;
    bottom: -1%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.quote .big-text{
    font-size: 3.5rem !important;
}




/* .project{
    clip-path: polygon(0 0, 100% 0, 100% 68%, 60% 68%, 60% 100%, 0 100%);
} */


@media(max-width:768px){
    .hero h1{
        font-size: 2rem;
        width: 100%;
        padding: 0;
        line-height: 42px;
    }
    .quote{
        display: none;
    }
}