@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg{
background-color: #171717;

}



.active-text{

    color: #FD853A;    
}
.bg-active{

 background-color: #FD853A;   
}


.anchor{
color: #7FACFF;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
  }
  

  
/* Remove absolute positioning from portrait */
.portrait-about {
  z-index: 1;
  position: relative;
}

/* Keep the semi-circle initially hidden */
.semi-circle-about {
  opacity: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0); /* Hidden state */
  background-color: #7FACFF;
  border-radius: 50%;
  bottom: 0; 
  transition: transform 0.5s ease, opacity 0.5s ease;
}


.portrait-about:hover + .semi-circle-about {
  opacity: 1;
  transform: translateX(-50%) scale(1) rotate(360deg); 
}

.relative-wrapper {
  position: relative; 
}

.hire{
border-radius: 50px;
  border:1px solid #FD853A;
}

.hires a:hover{
background-color: #FD853A;
color: aliceblue;
border: 1px seashell;
}